
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="~/js/Metodos.js"></script>

<h3 class="text-center">Usuario</h3>

<div>
    <form>
        <label>Nombre</label>
        <input type="text" id="txtNombre"/>
    </form>
</div>


